{% load static %}
<html>
<head>
<title>
Book Index
</title>
<link rel="stylesheet" type="text/css" media="screen" href="{% get_static_prefix %}css/default.css" />



</head>
<body>


<div style='width:20%;height: 100%;float:left;border-right:solid black 1px;'>
	<h1>Index of Books</h1>
	<ul>
	{% for book in all_books %}
		<li><a href='/books/{{ book.book_id }}' target = 'book_frame' style='line-height:1.5;'>»{{ book.title }}</a></li>
	{% endfor %}
	</ul>
	<div class="footer" id="goo">

			<a href='/books/my_admin/' target='book_frame'>book admin</a>

	
	</div>
	</div>
	<iframe src='/books/my_admin/' style='float:left;height:99%;width:79%;border-width:0px' name='book_frame' ></>

</div>

</body>
</html>

