{% load static %}
<html>
<head>

<link rel="stylesheet" type="text/css" media="screen" href="{% get_static_prefix %}css/default.css" />
<style>
div.footer 
{
     
     font-size: 14px;
     font-family: Verdana, Geneva, Arial, sans-serif;
     font-weight:bold;
     text-align: left;
     position: absolute;
     bottom: 0px;
     left: 0px;
	
     
     height:2em;
     }



</style>

</head>
<body >
	<h1>Books Admin</h1>
	
	{% if all_books.count == 0 %}
		<h3>The book database is empty:<h3>
		
	{% else  %}
		{% if all_books.count == 1 %} {{ books.count }}
			<h3>One book in book database:<h3>
			

		{% else %}
			<h3>{{ all_books.count}} books in book database:</h3>
			
		{% endif %}
	{% endif %}
	<div style="display:block;">

		
		<form action='/books/my_admin/' method="post">{% csrf_token %}
			<select size=10 style="width:300px;margin-left:1em;float:left;" name ="book">
			{% for book in all_books %}
				{% if forloop.counter0 == 0 %}
					<option value='{{ book.book_id }}' SELECTED>{{ book.title }}</option>
				{% else %}
					<option value='{{ book.book_id }}' >{{ book.title }}</option>
				{% endif %}
			{% endfor %}
			</select>
			<input type = "submit" name="operation" value="new book" style="width:95;"/><br>
			{% if all_books.count == 0 %}
			<input type = "submit" name="operation" value="import books"style="width:95;" />
			{% else  %}
			<input type = "submit" name="operation" value="edit book" style="width:95;"/><br>
			<input type = "submit" name="operation" value="delete book" style="width:95;"/><br>
			<input type = "submit" name="operation" value="purge books"style="width:95;" />
			
			{% endif %}
		</form>		
		
	</div>
	
	<div class="footer" id="goo">
		
			<a href='/books/my_admin/logout/' >log out admin</a>
			</div>
</body>
